
body{
    display: flex;                       
    align-items: center;
    justify-content: center;      
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

input[type="password"] {
 
    padding: 10px;
    border: 0.1px solid #ccc;
    border-radius: 2px;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    margin: 2px;

    
}

input[type="password"]::placeholder {
    color: #999;             
    font-style: italic;     
    font-size: 14px;

}


input[type="password"]:focus {

    background: whitesmoke;            
    outline: none;
    border-color: #324d53;
   
}

form{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: white;
    height: 400px;
    width: 500px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0px 20px 2px #ccc;
    border-radius: 2px;
    
 
}


.changebtn{
    width: 200px;
    height: 50px;
    background: #324d53;
    border: 0px;
    border-radius: 2px;
    color: white;
    font-weight: 100;
}
.changebtn:active{
    background: #829498;
}

.hstylebig{
    font-size: 28px;
    color: #324d53;
    font-style: normal;
    font-weight: 100;
}
.smallfont{
    color: #999;             
    font-style: italic;     
    font-size: 14px;
}
.emailstyle{
    font-size: 20px;
    color:#999 ;
    font-style: italic;
}