
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


    <div style="margin-right: 5px; margin-bottom: 10px; display: flex; flex-direction: column;">
    <h3 class="hstylebig"> Password Changed Successfully ✅</h3>
    <p class="smallfont">You can now log in with your new password.</p>
    </div>
