@model CarRentalSale.models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<form asp-action="ResetPassword" method="post" class="pad">

    <div style="margin-right: 5px; margin-bottom: 10px;">
        <p style="  font-size: 20px; color:#999 ;font-style: italic;">@Model.Email</p>
        <h3 class="hstylebig">Change Password</h3>
        <p class="smallfont">1- password at least 8 character</p>
        <p class="smallfont">2- password must contain UPPER CASE</p>
        <p class="smallfont">3- password must contain lower case</p>
        <p class="smallfont">4- password must contain number</p>
    </div>


    <input type="hidden" asp-for="Token" value="@Model.Token" />

    <div style="display: flex; flex-direction: column;">


        <input type="password" asp-for="NewPassword" name="NewPassword" required minlength="8"
            placeholder="new password..." pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$" />
        <button itemid="btnchange" type="submit" class="changebtn" style="margin-left: 2px;">save</button>
    </div>

</form>
