
@import  url("main.css");

.PasswordContainer{
    width: 600px;
    height: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.BtnSize{
    width: 70px;
    height: 35px;
    text-align: center;
    margin-top: 2px;
}