<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/ViewPagePassword.css")" type="text/css" />
  
</head>

<body >
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>

</html>